.hidden {
  display: none;
}

.raleway-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo-studio {
  color: #2e2f42;
  /* margin-right: 76px; */
}

.nav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-nav {
  padding: 16px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .navigat {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .logo-nav {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
  }

  .item-one {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-one::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item:hover,
  .nav-list-item:focus,
  .contacts-link-item:hover,
  .contacts-link-item:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-nav {
    margin-right: 120px;
  }

  .contacts-link {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;

  border: 1px solid #e7e9fc;
  background-color: transparent;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-contacts-link {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts-link-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-nav-item:hover,
.mobile-nav-item:focus,
.mobile-contacts-link-item:hover,
.mobile-contacts-link-item:focus {
  color: #404bbf;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.social-icons {
  display: flex;
  gap: 20px;
  fill: #f4f4fd;
}

.social-list {
  display: flex;
  gap: 24px;

  justify-content: center;
  gap: 40px;
}

.list-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* section-first */

.section-first {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/back_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  max-height: 432px;
  max-width: 320px;
  margin: 0 auto;
}

.section-first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: auto auto;
  max-width: 216px;
}

.click {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  display: block;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 72px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.click:hover,
.click:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-first {
    padding: 122px 0;
    max-height: 436px;
    max-width: 768px;
  }

  .section-first-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
  }

  .click {
    margin: 36px auto 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-first {
    max-height: 600px;
    padding: 188px 0;
    max-width: 1440px;
  }

  .section-first-title {
    font-size: 56px;
    max-width: 496px;
  }
  .click {
    margin: 48px auto 0;
  }
}

/* PURPOSE */
.back-icons {
  display: none;
}

.section-second {
  padding: 96px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.purpose-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-title {
    text-align: left;
  }

  .purpose-item {
    width: calc((100% - 24px) / 2);
  }

  .section-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .back-icons {
    margin-bottom: 8px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }

  .section-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .section-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section-list {
    display: flex;
    gap: 24px;
  }

  .purpose-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
